.happenings-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 16.8em 16.8em 16.8em 16.8em 16.8em 16.8em 16.8em 16.8em;
  gap: 2px;
  transition: all 0.7s;
}

.happenings-container-clear {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 16.8em 16.8em 16.8em 16.8em;
  gap: 2px;
}

.item {
  width: 100%;
}

.item-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("fine\ car.jpg");
  background-size: cover;
  grid-row: 1/3;
  grid-column: 1/3;
  background-position: center;
}

.item-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("fine\ car.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
}
.item-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("fine\ car.jpg");
  background-position: center;
  background-size: cover;
}
.item-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("fine\ car1.jpg");
  background-position: center;

  background-size: cover;
}
.item-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("fine\ car.jpg");
  background-position: center;

  background-size: cover;
}
.item-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("fine\ car1.jpg");
  background-position: center;

  background-size: cover;
  /* grid-row: 3/5; */
}
.item-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("philipp-katzenberger-hrpYtJv-BRs-unsplash.jpg");
  background-size: cover;
  /* grid-row: 5 /7; */
  background-position: center;
}
.item-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.216), rgba(0, 0, 0, 0.122)),
    url("fine\ car1.jpg");

  background-position: center;
  background-size: cover;
}

.item-9 {
  background-image: url("philipp-katzenberger-hrpYtJv-BRs-unsplash.jpg");

  background-position: center;
  background-size: cover;
}
.item-10 {
  grid-column: 1/3;
  grid-row: 5/7;
  background-image: url("fine\ car1.jpg");
  background-position: center;
  background-size: cover;
}

.happenings-navigator {
  justify-content: center;
  display: flex;
  list-style: none;
  padding-bottom: 2em;
  gap: 3em;
}

.btn-clear {
  display: none;
  transform: translateY(-4px);
  transition: all 0.2s;
}
.clear {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.center {
  justify-content: center;
}
.black-happenings {
  height: 15%;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 85%;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.497), rgba(0, 0, 0, 0.581));
  transition: all 0.4s;
}
.black-happenings:hover {
  height: 35%;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 65%;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.497), rgba(0, 0, 0, 0.581));
}

.black-happenings-font{
  font-size:1.2rem;
  font-weight:200;
  margin-left:10px;
  /* margin-top:20px; */
}
