.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.11),
      rgba(0, 0, 0, 0.13)
    ),
    url("philipp-katzenberger-hrpYtJv-BRs-unsplash.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center center center center;

  height: 87vh;
  width: 100%;
}

.header-caption {
  position: relative;
  top: 17em;
  right: -5em;
  color: whitesmoke;
  font-size: 1.2rem;
  text-shadow: 1px 2px 3px black;
}

.header-description {
  color: silver;
}

.banner_fade {
  height: 5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(20, 20, 20, 0.61),
    black
  );
  margin-top: -4rem;
}
