.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.11),
      rgba(0, 0, 0, 0.13)
    ),
    url("philipp-katzenberger-hrpYtJv-BRs-unsplash.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center center center center;

  height: 83vh;
  width: 100%;
}

.header-caption {
  position: relative;
  top: 17em;
  right: -5em;
  color: whitesmoke;
  font-size: 1.2rem;
  text-shadow: 1px 2px 3px black;
}

.header-description {
  color: silver;
}

.header-intro {
  border: 1px solid rgba(10, 10, 10, 0.664);
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.411));
  padding: 1.5em;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  top: 30%;

  transition: all 0.3s;
}

.header-intro:hover {
  /* transform: translateY(-1rem) scale(1.2); */
  border-bottom: 1px blue solid;
  /* animation: grow 3s ease-in 0.3s; */
}
/* 
@keyframes grow {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
  }
} */

.banner_fade {
  height: 5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(20, 20, 20, 0.61),
    black
  );
  margin-top: -4rem;
}
