* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.navbar {
  height: 6rem;
  background-color: black;
  color: silver;
  text-align: center;
}
.navbar-list {
  list-style: none;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif\;;
  justify-content: space-between;
}

.navbar-logo {
  margin-left: 3rem;
  margin-top: -0.5rem;
}

.navbar-list-components-container {
  display: flex;
  margin-right: 3rem;
}
.navbar-list-components {
  margin-right: 35px;
  margin-top: 30px;
  font-size: 1.35rem;
  font-weight: 600;
}

.logo {
  height: 3.8rem;
  border-radius: 5px;
  background-blend-mode: saturation;
}
