.search-box-container {
  background-color: rgb(39, 38, 38);
  height: 5.5em;
  text-align: center;
  margin-top: 3px;
}

.black {
  color: rgb(10, 10, 10);
  font-size: 2rem;
  font-weight: 800;
  position: relative;
  left: 0.3em;
  top: 0.3em;
}

.search-box {
  margin-top: 1.5em;
  padding: 1em;
  width: 80%;
  text-align: center;

  border-radius: 3px;
  border: none;
}
